<h1><%= @today.strftime "%Y-%m-%d (%a)" %></h1>

<hr>
<%- if @login_usern -%>
  <%- if @login_usern.admin? -%>
<%= link_to "admin top", admin_root_path %>
  <%- end -%>
<%- else -%>
<%= link_to "login...", new_session_path %>
<%- end -%>
