<%= form_tag :session do %>
<fieldset>
  <legend>login</legend>
  <table border="0">
    <tr>
      <td class="right">name:</td>
      <td class="left"><%= text_field_tag :name, @name %></td>
    </tr>
    <tr>
      <td class="right">password:</td>
      <td class="left"><%= password_field_tag :password %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= submit_tag "login", class: "submit" %></td>
    </tr>
  </table>
</fieldset>
<% end %>
