<%- if @login_user -%>
<nav class="login-header">
  <%- if @login_user.admin? -%>
  <div class="left">
    <%= link_to_unless_current "Admin", admin_root_path %>
    <%= link_to_unless_current "Groups", groups_path %>
  </div>
  <%- end -%>
  <div class="right">
    <span class="login-name"><%= @login_user.name %></span>
    <%- if @login_user.admin? -%>
    <span class="admin">(admin)</span>
    <%- end -%>
    <span><%= link_to "logout", :session, method: :delete, confirm: "logout?" %></span>
  </div>
  <div class="reset-float"></div>
</nav>
<%- end -%>
