<h1>Items</h1>

<%- if Item.all.empty? -%>
(nothing)
<%- else -%>
  <%- Item.order(:name).each do | item | -%>
<dl>
  <dt><%= item.name %> <%= link_to "properties", item %></dt>
    <%- if item.memo.present? -%>
  <dd><%= item.memo %></dd>
    <%- end -%>
</dl>
  <%- end -%>
<%- end -%>

<%- if @login_user.try :admin? -%>
<h2>Admin</h2>
<%= link_to "Create new item...", new_admin_item_path %>
<%- end -%>
