/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  margin: 0px;
  padding: 0px;
}

a {
  padding: 2px;
}


a:hover {
  background-color: pink !important;
}


div.reset-float {
  clear: both;
}

/* --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
nav.header {
  color: black;
  background-color: #ddd;
  padding: 8px;
  border-bottom: solid 1px #bbb;
}

nav.login-header {
  color: black;
  background-color: #eef;
  padding: 8px;
  border-bottom: solid 1px #ccf;
}

nav a {
  padding: 4px;
}

nav div.left {
  float: left;
}

nav div.right {
  float: right;
}

nav time.timestamp {
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
  font-size:small;
}

nav span.admin {
  color: red;
}

/* --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
div.main {
  color: black;
  background-color: white;
  margin: 8px;
}

/* --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
div.errors {
  width: 75%;
  margin-left:  auto;
  margin-right: auto;
  padding: 0px;
  border: solid 1px #a00;
  color: black;
  background-color: #fee;
}

div.errors div.title {
  padding: 4px 8px 4px;
  border-bottom: solid 1px #a00;
  color: white;
  background-color: #a00;
  font-weight: bold;
}

div.errors div.mes {
  padding: 4px 8px 4px;
}

span.error-message {
  border: solid 1px #f00;
  color: black;
  background-color: #fee;
  padding: 2px;
}

/*
span.field-with-errors {
}
*/

/* --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
div.alert {
  margin-top: 1em;
  margin-bottom: 1em;
}

div.alert article {
  border: solid 1px #f00;
  color: black;
  background-color: #fdd;
  display: inline;
  padding: 8px;
}

div.notice {
  margin-top: 1em;
  margin-bottom: 1em;
}

div.notice article {
  border: solid 1px #0f0;
  color: black;
  background-color: #dfd;
  display: inline;
  padding: 8px;
}

/* --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
p.desc-required {
  font-style: italic;
  color: #444;
}

label.required:before {
  color: red;
  content: "*";
}

select {
  font-size: 100%;
}

input[type="submit"] {
  -webkit-appearance: button;
  font-size: 150%;
}

/* --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
img.ui-datepicker-trigger {
  margin-left: 4px;
  vertical-align: -8px;
  cursor: pointer;
}
