/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
    margin: 0px;
    padding: 0px;
}

/* --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
nav.head {
    color: black;
    background-color: #ddd;
    padding: 8px;
}

nav.head2 {
    color: black;
    background-color: #dfd;
    padding: 8px;
}

nav a {
    padding: 4px;
}

nav a:hover {
    background-color: pink;
}

nav section.left {
    float: left;
}

nav section.right {
    float: right;
}

nav section.reset {
    clear: both;
}

nav time.timestamp {
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
    font-size:small;
}

nav span.admin {
    color: red;
}

/* --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
section.main {
    color: black;
    background-color: white;
    margin: 8px;
}

/* --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
section.alert {
    margin-top: 1em;
    margin-bottom: 1em;
}

section.alert article {
  border: solid 1px #f00;
  color: black;
  background-color: #fdd;
  display: inline;
  padding: 8px;
}

/* --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
fieldset {
  display: inline;
}

fieldset table, td, th {
  border-style: none;
  vertical-align: top;
}

fieldset table {
  border-collapse: separate;
  border-spacing: 0.5em 1em;
}

fieldset td.right {
  text-align: right;
}

fieldset td.left {
  text-align: left;
}

fieldset label.required:before {
  color: red;
  content: "*";
}

fieldset input.submit {
  -webkit-appearance: button;
  font-size: 150%;
}