// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
table.reservations {
  border: 1px black solid;
  border-collapse: collapse;
  white-space: nowrap;

  thead {
    th {
      border: 1px black solid;
      border-bottom: 3px black double;
    }

    tr {
      background-color: #aba;
    }
  }

  tbody {
    tr:nth-child(2n+1) {
      background-color: white;
    }

    tr:nth-child(2n) {
      background-color: #efe;
    }

    tr.newrid {
      background-color: #0c0;
    }

    tr.canceled {
      text-decoration: line-through;
    }

    td.icon, td.more {
      text-align: center;
    }

    td.rid, td.begin, td.end {
      text-align: right;
      /* font-family: monospace; */
    }
  }

  th, td {
    padding-left:  0.5em;
    padding-right: 0.5em;
    color: black;
  }

  th.rid, td.rid, th.wid, td.wid {
    display: none;
  }
}
