// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

fieldset {
  display: inline;

  table {
    vertical-align: top;
    border-style: none;
    border-collapse: separate;
    border-spacing: 0.5em 1em;

    td.right {
      text-align: right;
    }

    td.left {
      text-align: left;
    }
  }
}
